<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Add this line -->
  <title>Left Menu</title>
</head>

<body>
  <div id="logo">
    <span class="big-logo">Admin Panel</span>
    <span class="small-logo">S!M</span>
  </div>
  <div id="left-menu">
    <ul>
      <li><a href="#">
          <i class="ion-ios-albums-outline"></i>
          <span>Dashboard</span>
        </a></li>
      <li class="">
        <a href="#">
          <i class=""></i>
          <span>All Users</span>
        </a>
      </li>
      <li><a href="#">
          <i class="ion-ios-chatboxes-outline"></i>
          <span>Renter</span>
        </a></li>
      <li><a href="#">
          <i class="ion-ios-chatboxes-outline"></i>
          <span>Host</span>
      </li>
    </ul>
  </div>
</body>

</html>